<app-navbar-inicio></app-navbar-inicio>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <!--One of three columns-->
        </div>
        <div class="col-sm">
            <form #usuarioForm="ngForm" (ngSubmit)="addUsuario()">
                <fieldset>
                  <legend> Registro Usuario </legend>
    
                  <!--Nombre completo-->
                  <div class="form-group">
                    <label for="inputNombreCompleto" class="form-label mt-4">Nombre Completo</label>
                    <input type="text" class="form-control" name="nombreCompleto" placeholder="Nombre Completo" [(ngModel)]="usuarioNuevo.nombreCompleto" onClick="normalBorder(this)">
                  </div>
    
                  <!--Número de celular-->
                  <div class="form-group">
                    <label for="inputCelular" class="form-label mt-4">Numero de Celular</label>
                    <input type="text" class="form-control" name="celular" placeholder="Celular" [(ngModel)]="usuarioNuevo.celular" onClick="normalBorder(this)">
                  </div>
                  
                  <!--Cédula-->
                  <div class="form-group">
                    <label for="inputId" class="form-label mt-4">Cédula</label>
                    <input type="text" class="form-control" name="cedula" placeholder="Cédula" [(ngModel)]="usuarioNuevo.id" onClick="normalBorder(this)">
                  </div>
                  
                  <!--Email-->
                  <div class="form-group">
                    <label for="inputEmail1" class="form-label mt-4">Email</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="usuarioNuevo.email" onClick="normalBorder(this)">
                    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu email con nadie más</small> 
                  </div>
                  
                  <!--Dirección-->
                  <div class="form-group">
                    <label for="inputDireccion" class="form-label mt-4">Dirección</label>
                    <input type="text" class="form-control" name="direccion" placeholder="Dirección de Residencia" [(ngModel)]="usuarioNuevo.direccion" onKeyUp="comprobarDireccion(this)">
                    <small id="direccionHelp" class="form-text text-muted">Ejemplos: Calle 55 41 33 ó Carrera 32 7 62</small>
                  </div>

                  <!--Foto Recibo-->
                  <div class="form-group">
                    <label for="reciboImage" class="form-label mt-4">Foto Recibo</label>
                    <input name="fotoRecibo" class="form-control" type="file" (change)="onImageReciboSelected($event)" onClick="normalBorder(this)">
                  </div>

                  <!--Tarjeta numero-->
                  <div class="form-group">
                    <label class="form-label mt-4">Numero de Tarjeta(credito/debito)</label>
                    <input type="text" class="form-control" name="tarjeta_numero" placeholder="Número" [(ngModel)]="usuarioNuevo.tarjeta_numero" onClick="normalBorder(this)">
                  </div>

                  <!--Tarjeta fecha vencimiento-->
                  <div class="form-group">
                    <label for="inputId" class="form-label mt-4">Fecha Vencimiento</label>
                    <input type="date" class="form-control" name="tarjeta_fecha_vencimiento" placeholder="Fecha de vencimiento" [(ngModel)]="usuarioNuevo.tarjeta_fecha_vencimiento" onClick="normalBorder(this)">
                  </div>

                  <!--Tarjeta cvv-->
                  <div class="form-group">
                    <label for="inputId" class="form-label mt-4">CVV</label>
                    <input type="text" class="form-control" name="tarjeta_cvv" placeholder="Cvv" [(ngModel)]="usuarioNuevo.tarjeta_cvv" onClick="normalBorder(this)">
                  </div>
                  
                  <!--Alerta Si-->
                  <div id = "alertSi" class="alert alert-dismissible alert-success" role="alert">
                    <button id="cerrarAlertSi" type="button" class="btn-close" onClick = "cerrarAlerta('alertSi')"></button>
                    <strong>¡El registro fue realizado exitosamente</strong> Ya puedes ingresar a tu cuenta.
                    <div id="alertSiDetails"></div>
                  </div>

                  <!--Alerta No-->
                  <div id = "alertNo" class="alert alert-dismissible alert-danger" role="alert">
                    <button id="cerrarAlertNo" type="button" class="btn-close" onClick = "cerrarAlerta('alertNo')"></button>
                    <strong>¡Ops!</strong> Los datos se encuentran incompletos o no se encuentran bien. Por favor revisa de nuevo.
                    <div id="alertNoDetails"></div>
                  </div>
                  
                  <!--Botón Enviar-->
                  <button type="submit" class="btn btn-primary" onClick="comprobarDatos([nombreCompleto,celular,cedula,email,direccion,fotoRecibo,tarjeta_numero,tarjeta_fecha_vencimiento,tarjeta_cvv])">Enviar</button>
                  
                </fieldset>
              </form>
        </div>
        <div class="col-sm">
            <!--One of three columns-->
        </div>
    </div>
</div>