
<div class="container">
    <div class="row">
      <div class="col-sm">
        <!--One of three columns-->
      </div>
      <div class="col-sm">
        <form id = "form" name="form" #trabajadorForm="ngForm" (ngSubmit)="addTrabajador()">
            <fieldset>
              <legend> Registro Trabajador </legend>

              <!--Nombre completo-->
              <div class="form-group">
                <label for="inputNombreCompleto" class="form-label mt-4">Nombre Completo</label>
                <input id = "nombreCompleto" type="text" class="form-control" name="nombreCompleto" placeholder="Nombre Completo" [(ngModel)]="nuevoTrabajador.nombreCompleto">
              </div>

              <!--Número de celular-->
              <div class="form-group">
                <label for="inputCelular" class="form-label mt-4">Numero de Celular</label>
                <input type="text" class="form-control" name="celular" placeholder="Celular" [(ngModel)]="nuevoTrabajador.celular">
              </div>
              
              <!--Cédula-->
              <div class="form-group">
                <label for="inputId" class="form-label mt-4">Cédula</label>
                <input type="text" class="form-control" name="id" placeholder="Cédula" [(ngModel)]="nuevoTrabajador.id">
              </div>
              
              <!--Email-->
              <div class="form-group">
                <label for="inputEmail1" class="form-label mt-4">Email</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="nuevoTrabajador.email">
                <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu email con nadie más</small> 
              </div>
              
              <!--Dirección-->
              <div class="form-group">
                <label for="inputDireccion" class="form-label mt-4">Dirección</label>
                <input type="text" class="form-control" name="direccion" placeholder="Dirección de Residencia" [(ngModel)]="nuevoTrabajador.direccion">
                <small id="direccionHelp" class="form-text text-muted">Ejemplo: cll 55 41 d 33</small>
              </div>
              
              <!--Foto Documento de Identidad-->
              <div class="form-group">
                <label for="idFile" class="form-label mt-4">Foto Documento de Indentidad</label>
                <input class="form-control" type="file" name="fotoId" (change)="onFotoIdSelected($event)">
              </div>

              <!--Foto de perfil-->
              <div class="form-group">
                <label for="fotoPerfil" class="form-label mt-4">Foto De Perfil</label>
                <input class="form-control" type="file" id="fotoPerfil" (change)="onFotoPerfilSelected($event)">
              </div>
              
              <!--Labores desempeñadas-->
              <div class="form-group">
                <label for="fotoPerfilFile" class="form-label mt-4">Seleccione las labores que desempeña:</label>
                <div class="form-group">
                  <!--Checkbox de las labores-->
                  <span *ngFor="let labor of labores">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" value='{{ labor.nombre }}' name="checked" [(ngModel)]="labor.checked" (change)="addLabor($event)">
                      <label class="form-check-label" for="inlineCheckbox1">{{ labor.nombre }}</label>
                    </div>
                  </span>
                  <!--Precio de las labores-->
                  <span *ngFor="let labor of labores">
                    <div class="form-group" *ngIf="(labor.checked)">
                      <label class="form-label mt-4">{{ "precio_hora " + labor.nombre }}</label>
                      <input type="number" class="form-control" name="precio_hora" placeholder="$$$" [(ngModel)]="labor.precio_hora">
                    </div>
                  </span>
                </div>
              </div>
              
              <!--Alerta Si-->
              <div id = "alertSi" class="alert alert-dismissible alert-success" role="alert">
                <button id="cerrarAlertSi" type="button" class="btn-close" onClick = "cerrarAlerta('alertSi')"></button>
                <strong>¡El registro fue realizado exitosamente</strong> Ya puedes ingresar a tu cuenta.
                <div id="alertSiDetails"></div>
              </div>

              <!--Alerta No-->
              <div id = "alertNo" class="alert alert-dismissible alert-danger" role="alert">
                <button id="cerrarAlertNo" type="button" class="btn-close" onClick = "cerrarAlerta('alertNo')"></button>
                <strong>¡Ops!</strong> Los datos se encuentran incompletos. Por favor revisa de nuevo
                <div id="alertNoDetails"></div>
              </div>

              <!--Botón Enviar-->
              <button type="submit" class="btn btn-primary" onClick = "comprobarDatos()">Enviar</button>


            </fieldset>
          </form>
      </div>
      <div class="col-sm">
        <!--One of three columns-->
      </div>
    </div>
</div>