<app-navbar-trabajador-home></app-navbar-trabajador-home>
<div class="row">
    <div class="col-4">
      <div class="container">
        
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Labores Disponibles</div>
            <div class="card-body">
                <table class="table table-hover">
                    <tbody>
                        <tr class="table-primary" *ngFor="let labor of laboresDisponibles">
                            <td id="{{ labor.id_labor }}" (click)="trabajadores_labor($event)">{{ labor.n_labor }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>

      </div>

      <div class="container">
        <div class="card text-white bg-secondary mb-3">
          <div class="card-header">Descripcion Corta (Opcional)</div>
          <div class="card-body">
            <div class="form-group">
              <textarea class="form-control" id="textarea" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-8">

      <div class="container">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">Trabajadores Disponibles</div>
          <div class="card-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Nombre del Trabajador</th>
                    <th scope="col">Numero de Estrellas</th>
                    <th scope="col">Distancia</th>
                    <th scope="col">Precio/Hora</th>
                  </tr>
                </thead>
                <tbody *ngFor="let trabajador of trabajadoresDisponibles">
                    <tr class="table-primary" id="{{ trabajador.celular }}" (click)="setTrabajadorSeleccionado(trabajador)">
                        <td>{{ trabajador.nombrecompleto }}</td>
                        <td>{{ trabajador.promedio_calificacion }}</td>
                        <td>{{ trabajador.distancia }}</td>
                        <td>{{ trabajador.precio_hora }}</td>
                    </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card text-white bg-secondary mb-3">
          <div class="card-header">Datos de la transaccion</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <label class="form-label">Horas a Contratar:</label>
                <input type="number" min="1" class="form-control" value="1" name="horasAContratar" [(ngModel)]="horasAContratar">
              </div>
              <div class="col-sm">
                <label class="form-label">Trabajador:</label>
                <h6>{{ trabajadorSeleccionado.nombrecompleto }}</h6>
              </div>
              <div class="col-sm">
                <label class="form-label">Total a Pagar:</label>
                <h6>{{ trabajadorSeleccionado.precio_hora * horasAContratar }}</h6>
              </div>
              <div class="col-sm">
                <div class="d-grid">
                  <button class="btn btn-lg btn-primary" type="button">Pagar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>