<app-navbar-trabajador-home></app-navbar-trabajador-home>
<div class="row">
    <div class="col-4">
      <div class="container">
        
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Labores Disponibles</div>
            <div class="card-body">
                <table class="table table-hover">
                    <tbody>
                        <tr class="table-primary" *ngFor="let labor of laboresDisponibles">
                            <td (click)="trabajadores_labor($event)">{{ labor.n_labor }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>

      </div>
    </div>
    <div class="col-8">
      <div class="card text-white bg-primary mb-1">
        <div class="card-header">Trabajadores Disponibles</div>
        <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Nombre del Trabajador</th>
                  <th scope="col">Numero de Estrellas</th>
                  <th scope="col">Distancia</th>
                  <th scope="col">Precio/Hora</th>
                </tr>
              </thead>
              <tbody>
                  <tr class="table-primary">
                      <td>algo</td>
                  </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>