<app-navbar-trabajador-home></app-navbar-trabajador-home>
<div class="row">
    <div class="col-4">
      <div class="container">
        
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">Notificaciones</div>
          <div class="card-body">
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Labor</th>
                      <th scope="col">Direccion</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr class="table-primary">
                          <td>{{ solicitud.labor_name }}</td>
                          <td>{{ solicitud.direccion }}</td>
                      </tr>
                  </tbody>
              </table>
              <div class="d-grid gap-2">
                  <button class="btn btn-lg btn-primary btn-light" type="button" (click)="laborRealizada()">Realizada</button>
              </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-sm">
          <!--One of three columns-->
        </div>
        <div class="col-sm">
          <legend align="center">Nombre Trabajador</legend>
          <legend align="center">Celular</legend>

          <!-- Foto de Perfil -->
          <div class="container">
            <img [src]="fotoPerfil || ''" alt="No image" class="img-fluid">
          </div>

          <!-- Nuevo Email -->
          <div class="form-group">
            <label for="inputEmail" class="form-label mt-4">Email</label>
            <input type="email" class="form-control" placeholder="Nuevo Email">
          </div>

          <!-- Nueva Dirección -->
          <div class="form-group">
            <label for="inputDireccion" class="form-label mt-4">Dirección</label>
            <input type="text" class="form-control" placeholder="Nueva Dirección de Residencia" onKeyUp="comprobarDireccion(this)">
            <small  class="form-text text-muted">Ejemplo: cll 55 41 d 33</small>
          </div>

        </div>
        <div class="col-sm">
          <!--One of three columns-->
        </div>
      </div>
    </div>
  </div>
